@colorBlack: #000000;
@colorDarkest: #333333;
@colorDarker: #808080;
@colorDark: #D0D0D0;
@colorLight: #E0E0E0;
@colorLighter: #F0F0F0;
@colorWhite: #FFFFFF;

@gutter: 8px;

@colorMenuHover: #800000;
@colorToolbarHover: #000080;
@colorFooterHover: #FFFF00;

.font() {
    font-family: Calibri, Arial, Helvetica, Sans-Serif;
}

.fontMonospace() {
    font-family: Consolas, Courier New, Courier, monospace;
}

.fontHeader() {
    font-family: 'Arial Rounded MT Bold', Calibri, Arial, Helvetica, Sans-Serif;
    font-size: 16px;
}

.fontMenu() {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-align: right;
}

.fontToolbar() {
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    text-align: left;
}

.fontText() {
    font-size: 14px;
}

.fontFooter() {
    text-align: center;
    font-size: 12px;
}

/*#region Fonts */

body, li, p {
    .fontText();
}

h3 {
    .font();
    font-size: 24px;
}

a {
    color: @colorMenuHover;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*#endregion */
/*#region Layout */

html, body {
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
    overflow: hidden;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: @colorWhite;
    .font();
}

.dock-hidden {
    visibility: hidden;
}

.dock-center, .dock-scroll {
    overflow-y: auto;
    padding-right: @gutter;
    margin-right: 0px;
}

table.Layout {
    margin: 0px;
    border: 0px;
    padding: 0px;
    border-collapse: collapse;
}

table.Headline, table.Footline, div.LayoutFootline {
    background-color: @colorDarkest;
    color: @colorWhite;
}

td.HeadlineLeft {
    height: 22px;
    padding: 0px;
}

.HeadlineLogo {
    min-width: 300px;
}

td.HeadlineUser {
    width: auto;
}

div.LayoutMenu {
    padding: 0px;
}

div.LayoutToolbar {
}

td.Footline, div.LayoutFootline {
    height: 18px;
    padding-top: 3px;
    .fontFooter();
}

td.Footline a, div.LayoutFootline a {
    color: @colorWhite;
    text-decoration: none;
}

td.Footline a:hover, div.LayoutFootline a:hover {
    color: @colorFooterHover;
    text-decoration: underline;
}

div.LayoutContent {
    margin: @gutter;
    padding: 0px;
    background-color: @colorWhite;
    color: @colorBlack;
}

div.LayoutProgress {
    border: 1px solid #000000;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 450px;
    margin-left: -150px;
    margin-top: -100px;
    padding: 50px;
    background-color: white;
    text-align: center;
    display: block;
    z-index: 100;
}

/*#endregion */
/*#region Header */

.gw-header-dropdown {
    line-height: 1;
}

.gw-header-dropdown button {
    .fontHeader();
    padding: 0px;
    border: 0px;
    border-radius: 0px;
    background: @colorDarkest;
}

.gw-header-dropdown button:hover,
.gw-header-dropdown button:focus {
    color: @colorWhite;
}

.gw-header-dropdown button .glyphicon {
    margin-left: 4px;
    font-size: 12px;
}

.gw-header-dropdown ul {
    margin: 0px;
    color: @colorWhite;
    background: @colorDarkest;
    border-radius: 0px;
    margin-left: -8px;
    min-width: 260px;
}

.gw-header-dropdown ul li a {
    .fontHeader();
    color: @colorWhite;
    padding-top: 0px;
}

.gw-header-dropdown ul li a:hover {
    color: @colorWhite;
    background: @colorDarker;
}

/*#endregion */
/*#region Menu and toolbar */

.bar(@backgroundColor) {
    display: flex;
    background-color: @backgroundColor;
    width: auto;
    padding-left: @gutter;
    padding-top: @gutter;
}

.barElement(@width, @height, @backgroundColor, @border, @color) {
    display: inline-block;
    vertical-align: top;
    background-color: @backgroundColor;
    color: @color;
    border-bottom: solid @gutter @border;
    width: @width;
    min-width: @width;
    margin-right: @gutter;
}

.barButton(@width, @height, @backgroundColor, @border, @color) {
    .barElement(@width, @height, @backgroundColor, @border, @color);
    padding-left: @gutter;
    padding-right: @gutter;
    padding-bottom: @gutter;
    padding-top: @height - 32;
}

.barBox(@width, @height, @backgroundColor, @border, @color) {
    .barElement(@width, @height, @backgroundColor, @border, @color);
    height: @height;
    box-sizing: content-box;
}

/*#endregion */
/*#region Menu */

div.menu {
    .bar(@colorLight);
}

div.menu a, div.menu .span {
    .barButton(120px, 64px, @colorDarker, @colorLight, @colorWhite);
    .fontMenu();
}

div.menu a.selected {
    background-color: @colorLighter;
    border-bottom-color: @colorLighter;
    color: @colorBlack;
}

div.menu a:hover {
    background-color: @colorMenuHover;
    color: @colorWhite;
}

div.menu .span {
    width: 100%;
}

/*#endregion */
/*#region Toolbar */

div.toolbar {
    .bar(@colorLighter);
}

div.toolbar div {
    .barBox(120px, 38px, @colorDark, @colorLighter, @colorBlack);
    .fontToolbar();
}

div.toolbar a {
    .barButton(120px, 42px, @colorDark, @colorLighter, @colorBlack);
    .fontMenu();
    cursor: pointer;
}

div.toolbar a.selected {
    background-color: @colorWhite;
    border-bottom-color: @colorWhite;
    color: @colorBlack;
}

div.toolbar a:hover {
    background-color: @colorToolbarHover;
    color: @colorWhite;
}

div.toolbar a.aspNetDisabled {
    background-color: @colorLighter;
    border-bottom-color: @colorLighter;
    color: @colorDark;
    cursor: default;
}

div.toolbar .span {
    width: 100%;
}

div.toolbar .separator {
    .barElement(1px, 42px, @colorDark, @colorLighter, @colorBlack);
}

div.toolbar div input[type="text"],
div.toolbar div select {
    .fontToolbar();
    width: 100%;
    border: 2px solid @colorDark;
}

div.toolbar .dropdown ul {
    background-color: @colorDark;
    color: @colorLighter;
    padding: 0px;
}

div.toolbar .dropdown ul li {
    .menuFont();
    padding: 0px;
    color: @colorBlack;
    text-align: left;
}

div.toolbar .dropdown ul li a {
    background-color: @colorDark;
    margin: 0px;
    border: 0px;
    padding: @gutter;
    width: 100%;
    text-align: left;
}

div.toolbar .dropdown ul li a:hover {
    background-color: @colorToolbarHover;
    background-image: none;
    filter: none;
    color: @colorWhite;
}

div.toolbar .dropdown ul li input {
    margin: @gutter;
}

/*#endregion */
/*#region Message bar */

div.gw-messagebar {
    .font();
    font-size: 14px;
    margin-top: @gutter;
    margin-left: @gutter;
    margin-right: @gutter;
    padding: @gutter;
    background-color: #f1ec98;
}

span.gw-messagebar-button {
    float: right;
    cursor: pointer;
    border-left: solid 8px transparent;
    border-right: solid 8px transparent;
}

/*#endregion */
/*#region Lists */

.gw-list-item() {
    .font();
    width: 100%;
    cursor: default;
    margin: @gutter / 2;
    padding: @gutter / 2;
}

@gw-list-border: solid 1px @colorBlack;

div.gw-list-frame-top {
    border-left: @gw-list-border;
    border-right: @gw-list-border;
    border-top: @gw-list-border;
    background-color: @colorDark;
}

div.gw-list-frame {
    border-left: @gw-list-border;
    border-right: @gw-list-border;
    overflow-x: hidden;
    overflow-y: auto;
}

div.gw-list-frame-bottom {
    border-left: @gw-list-border;
    border-right: @gw-list-border;
    border-bottom: @gw-list-border;
    background-color: @colorDark;
}

div.gw-list-header,
div.gw-list-footer {
    .gw-list-item();
    .font();
    font-weight: bold;
}

div.gw-list-item {
    .font();
    .gw-list-item();
}

div.gw-list-item:hover {
    background-color: @colorLighter;
}

div.gw-list-item-selected {
    background-color: @colorLight;
}

div.gw-list-row {
    display: flex;
    flex-wrap: nowrap;
}

div.gw-list-item div span,
div.gw-list-header div span {
    display: inline-block;
    flex-shrink: 0;
    flex-grow: 0;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

span.gw-list-span {
    text-align: left;
    flex-shrink: 1 !important;
    flex-grow: 1 !important;
}

span.gw-list-multiline-span {
    text-align: left;
    flex-shrink: 1 !important;
    flex-grow: 1 !important;
    white-space: normal !important;
}

div.gw-list-row span input {
    margin: 0px;
}

img.gw-list-row img {
    margin-right: @gutter;
}

span.gw-details-button {
    width: 32px;
    text-align: center;
    cursor: pointer;
}

div.gw-details-panel {
    display: none;
}

/*#endregion */
/*#region Box list */

div.gw-box-frame-top {
    border-top: @gw-list-border;
    border-left: @gw-list-border;
    border-right: @gw-list-border;
    background-color: @colorDark;
}

div.gw-box-frame {
    border-left: @gw-list-border;
    border-right: @gw-list-border;
    border-bottom: @gw-list-border;
    margin-bottom: @gutter;
}

.gw-box-item() {
    .font();
    width: 100%;
    cursor: default;
    padding: @gutter;
}

div.gw-box-header {
    .gw-box-item();
    font-weight: bold;
}

div.gw-box-item {
    .gw-box-item();
}

div.gw-box-row {
    display: flex;
    flex-wrap: nowrap;
}

div.gw-box-item div span,
div.gw-box-header div span {
    display: inline-block;
    flex-shrink: 0;
    flex-grow: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

span.gw-box-span {
    text-align: left;
    flex-shrink: 1 !important;
    flex-grow: 1 !important;
}

/*#endregion */
/*#region Modal forms */

div.gw-form {
    background-color: @colorWhite;
    border: 1px solid @colorDark;
    box-shadow: 0px 12px 6px -6px #c0c0c0;
    padding: @gutter;
    right: auto;
    bottom: auto;
}

div.gw-form > table {
    border-collapse: collapse;
    width: 720px;
    background-color: #FFFFFF;
}

td.gw-form-title {
    .font();
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid @colorDarker;
    margin-bottom: @gutter;
    padding-bottom: @gutter;
}

td.gw-form-icon {
    width: 140px;
    padding-right: 40px;
    padding-top: 32px;
    padding-left: 24px;
    vertical-align: top;
}

td.gw-form {
    padding-top: 16px;
    padding-bottom: 32px;
    padding-right: 32px;
    vertical-align: top;
    min-height: 320px;
}

td.gw-form ul, td.gw-form p {
    margin-top: 10px;
    margin-bottom: 6px;
}

td.gw-form > table, table.gw-form {
    width: 100%;
}

td.gw-form-label {
    width: 180px;
    vertical-align: top;
    padding-top: @gutter;
}

td.gw-form-field {
    width: auto;
    vertical-align: top;
    padding-top: 8px;
}

td.gw-form-field input[type="checkbox"],
td.gw-form-field input[type="radio"] {
    margin-top: 0px;
    margin-left: @gutter;
    margin-right: @gutter;
}

td.gw-form-field input[type="text"],
td.gw-form-field select,
td.gw-form-field textarea,
td.gw-form-field div {
    .font();
    font-size: 14px;
    border: 1px solid @colorBlack;
    width: 200px;
}

td.gw-form-field textarea {
    width: 100%;
}

td.gw-form-field .narrow {
    width: 120px !important;
}

td.gw-form-field .wide {
    width: 100% !important;
}

p.gw-form-details {
    border-top: 1px solid #C0C0C0;
    text-align: right;
    margin-top: 16px;
    margin-bottom: 16px;
}

td.gw-form-buttons {
    .font();
    font-size: 16px;
    font-weight: bold;
    border-top: 1px solid #C0C0C0;
    margin-bottom: @gutter;
    padding-top: (2 * @gutter);
    padding-bottom: @gutter;
    text-align: center;
    height: 64px;
}

td.gw-form-buttons input[type=button],
td.gw-form-buttons input[type=submit] {
    .font();
    font-weight: bold;
    font-size: 14px;
    border: 2px solid #C0C0C0;
    height: 26px;
    width: 120px;
}

/*#endregion */
/*#region tabs */

ul.gw-tabs {
    margin: 0px !important;
}

ul.gw-tabs li a {
    .font();
    padding: @gutter;
    border: 1px solid #C0C0C0;
    border-radius: 0px;
}

div.tab-content {
    border-left: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0;
    border-radius: 0px;
    padding: @gutter;
}

/*#endregion */
/*#region Docs and schema */

.fontDocs() {
    .font();
    font-size: 12pt;
}

div.gw-docs-page {
    --max-width: 720px;
    --margin-left: auto;
    --margin-right: auto;
}

div.gw-docs-page p,
div.gw-docs-page ul,
div.gw-docs-page li {
    .fontDocs();
}

div.gw-docs-page ul {
    padding-left: 38px;
}

div.gw-docs-callout {
    .fontDocs();
    margin: (2 * @gutter) 0px 0px 28px;
    padding: (2 * @gutter) (3 * @gutter) (2 * @gutter) (2 * @gutter);
    border-left: 4px solid @colorDark;
}

div.gw-docs-page id {
    .fontMonospace();
    display: inline;
    text-wrap: none;
    background-color: @colorLighter;
    border: dotted 1px @colorDarker;
    border-radius: 2px;
    padding: 0px 2px 0px 2px;
}

div.gw-docs-page a {
    color: @colorMenuHover;
    border-bottom: dotted 1px @colorMenuHover;
    padding: 0px 3px 0px 3px;
}

div.gw-docs-page a:hover {
    color: @colorMenuHover;
    border: dotted 1px @colorMenuHover;
    border-radius: 2px;
    padding: 0px 2px 0px 2px;
    text-decoration: none;
}

a.thumbnail > img {
    max-width: 200px;
    max-height: 160px;
    margin-top: @gutter;
    margin-bottom: @gutter;
}

a.thumbnail > div.caption {
    text-align: center;
}

.syntaxhighlighter {
    overflow: hidden !important;
}

/*#endregion */
