/* Layout */
html,
body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  overflow: hidden;
}
body {
  margin: 0px;
  padding: 0px;
  background-color: #FFFFFF;
  font-family: Calibri, Arial, Helvetica, Sans-Serif;
}
.dock-scroll {
  overflow-y: auto;
  padding-right: 8px;
  margin-right: 0px;
}
table.Layout {
  margin: 0px;
  border: 0px;
  padding: 0px;
  border-collapse: collapse;
}
table.Headline,
table.Footline,
div.LayoutFootline {
  background-color: #333333;
  color: #FFFFFF;
}
td.HeadlineLeft {
  height: 22px;
  padding: 0px;
}
.HeadlineLogo {
  min-width: 300px;
}
td.HeadlineUser {
  width: auto;
}
div.LayoutMenu {
  padding: 0px;
}
td.Footline,
div.LayoutFootline {
  height: 18px;
  padding-top: 3px;
  text-align: center;
  font-size: 12px;
}
td.Footline a,
div.LayoutFootline a {
  color: #FFFFFF;
  text-decoration: none;
}
td.Footline a:hover,
div.LayoutFootline a:hover {
  color: #FFFF00;
  text-decoration: underline;
}
div.LayoutContent {
  margin: 8px;
  padding: 0px;
  background-color: #FFFFFF;
  color: #000000;
}
#PlotCanvasContainer {
  position: relative;
}
#refreshCanvasButton {
  position: absolute;
  left: 22px;
  top: 22px;
}
/* Menu and toolbar */
/* Menu */
div.menu {
  display: flex;
  background-color: #E0E0E0;
  width: auto;
  padding-left: 8px;
  padding-top: 8px;
}
div.menu a,
div.menu .span {
  display: inline-block;
  vertical-align: top;
  background-color: #808080;
  color: #FFFFFF;
  border-bottom: solid 8px #E0E0E0;
  width: 120px;
  min-width: 120px;
  margin-right: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-top: 32px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-align: right;
}
div.menu a.selected {
  background-color: #F0F0F0;
  border-bottom-color: #F0F0F0;
  color: #000000;
}
div.menu a:hover {
  background-color: #800000;
  color: #FFFFFF;
}
div.menu .span {
  width: 100%;
}
/* Toolbar */
div.toolbar {
  display: flex;
  background-color: #F0F0F0;
  width: auto;
  padding-left: 8px;
  padding-top: 8px;
}
div.toolbar div {
  display: inline-block;
  vertical-align: top;
  background-color: #D0D0D0;
  color: #000000;
  border-bottom: solid 8px #F0F0F0;
  width: 120px;
  min-width: 120px;
  margin-right: 8px;
  height: 38px;
  box-sizing: content-box;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  text-align: left;
}
div.toolbar a {
  display: inline-block;
  vertical-align: top;
  background-color: #D0D0D0;
  color: #000000;
  border-bottom: solid 8px #F0F0F0;
  width: 120px;
  min-width: 120px;
  margin-right: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-top: 10px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-align: right;
}
div.toolbar a.selected {
  background-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
  color: #000000;
}
div.toolbar a:hover {
  background-color: #000080;
  color: #FFFFFF;
}
div.toolbar a.aspNetDisabled {
  background-color: #F0F0F0;
  border-bottom-color: #F0F0F0;
  color: #D0D0D0;
  cursor: default;
}
div.toolbar .span {
  width: 100%;
}
div.toolbar div input[type="text"],
div.toolbar div select {
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  text-align: left;
  width: 100%;
  border: 2px solid #D0D0D0;
}
/* Message bar */
div.gw-messagebar {
  font-family: Calibri, Arial, Helvetica, Sans-Serif;
  font-size: 14px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  padding: 8px;
  background-color: #f1ec98;
}
span.gw-messagebar-button {
  float: right;
  cursor: pointer;
  border-left: solid 8px transparent;
  border-right: solid 8px transparent;
}
/* Lists */
div.gw-list-frame-top {
  border-left: solid 1px #000000;
  border-right: solid 1px #000000;
  border-top: solid 1px #000000;
  background-color: #D0D0D0;
}
div.gw-list-frame {
  border-left: solid 1px #000000;
  border-right: solid 1px #000000;
  overflow-x: hidden;
  overflow-y: auto;
}
div.gw-list-frame-bottom {
  border-left: solid 1px #000000;
  border-right: solid 1px #000000;
  border-bottom: solid 1px #000000;
  background-color: #D0D0D0;
}
div.gw-list-header,
div.gw-list-footer {
  width: 100%;
  cursor: default;
  margin: 4px;
  padding: 4px;
  font-family: Calibri, Arial, Helvetica, Sans-Serif;
  font-weight: bold;
}
div.gw-list-item {
  font-family: Calibri, Arial, Helvetica, Sans-Serif;
  width: 100%;
  cursor: default;
  margin: 4px;
  padding: 4px;
}
div.gw-list-item:hover {
  background-color: #F0F0F0;
}
div.gw-list-item-selected {
  background-color: #E0E0E0;
}
div.gw-list-row {
  display: flex;
  flex-wrap: nowrap;
}
div.gw-list-item div span,
div.gw-list-header div span {
  display: inline-block;
  flex-shrink: 0;
  flex-grow: 0;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}
span.gw-list-span {
  text-align: left;
  flex-shrink: 1 !important;
  flex-grow: 1 !important;
}
span.gw-list-multiline-span {
  text-align: left;
  flex-shrink: 1 !important;
  flex-grow: 1 !important;
  white-space: normal !important;
}
div.gw-list-row span input {
  margin: 0px;
}
span.gw-details-button {
  width: 32px;
  text-align: center;
  cursor: pointer;
}
/* Box list */
div.gw-box-frame-top {
  border-top: solid 1px #000000;
  border-left: solid 1px #000000;
  border-right: solid 1px #000000;
  background-color: #D0D0D0;
}
div.gw-box-frame {
  border-left: solid 1px #000000;
  border-right: solid 1px #000000;
  border-bottom: solid 1px #000000;
  margin-bottom: 8px;
}
div.gw-box-header {
  font-family: Calibri, Arial, Helvetica, Sans-Serif;
  width: 100%;
  cursor: default;
  padding: 8px;
  font-weight: bold;
}
div.gw-box-item {
  font-family: Calibri, Arial, Helvetica, Sans-Serif;
  width: 100%;
  cursor: default;
  padding: 8px;
}
div.gw-box-row {
  display: flex;
  flex-wrap: nowrap;
}
div.gw-box-item div span,
div.gw-box-header div span {
  display: inline-block;
  flex-shrink: 0;
  flex-grow: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}
span.gw-box-span {
  text-align: left;
  flex-shrink: 1 !important;
  flex-grow: 1 !important;
}
/*
div.ToolbarElement {
    .toolbarButton(@colorWhite, @colorDark, @colorBlack);
    padding: 0px;
    vertical-align: bottom;
}

div.ToolbarElement, div.ToolbarElement label {
    .toolbarFont();
    height: 38px;
    text-align: left;
    text-decoration: none;
}

a.ToolbarButton {
    .toolbarButton(@colorWhite, @colorDarker, @colorWhite);
    .menuFont();
}

a.ToolbarButton:hover {
    background-color: @colorToolbarHover;
    color: @colorWhite;
}

a.ToolbarTab {
    .toolbarButton(@colorWhite, @colorDark, @colorBlack);
    .menuFont();
}

a.ToolbarTabSelected {
    .toolbarButton(@colorWhite, @colorWhite, @colorBlack);
    .menuFont();
}

a.ToolbarTab:hover, a.ToolbarTabSelected:hover {
    background-color: @colorToolbarHover;
    color: @colorWhite;
}
    */
/* Message box */
/*
div.ToolbarMessage {
    width: auto;
    height: 36px;
    vertical-align: middle;
    padding: 8px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: #F0F0C0;
    color: #000000;
}

div.ToolbarMessageError {
    color: #FF0000;
}
*/