<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="Jhu.Graywulf">
      <section name="Components" type="System.Configuration.AppSettingsSection" />
      <section name="Registry" type="System.Configuration.AppSettingsSection" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.22.0" newVersion="2.2.22.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <Jhu.Graywulf>
    <Components>
      <add key="AssemblyPath" value="C:\data1\dobos\project\skyquery\bin\Debug" />
      <add key="AssemblyPath" value="." />
    </Components>
    <Registry>
      <add key="ClusterName" value="Cluster:Graywulf" />
      <add key="DomainName" value="Domain:Graywulf.VOServices" />
      <add key="FederationName" value="Federation:Graywulf.VOServices.SkyQuery" />
    </Registry>
  </Jhu.Graywulf>
  <connectionStrings>
    <!-- Graywulf registry, log and workflow persistance database location-->
    <add name="Jhu.Graywulf.Registry" connectionString="Data Source=gwen1;Initial Catalog=Graywulf_DEV;MultipleActiveResultsets=true;Integrated Security=true" />
    <add name="Jhu.Graywulf.Logging" connectionString="Data Source=gwen1;Initial Catalog=Graywulf_DEV_Log;MultipleActiveResultsets=true;Integrated Security=true;Enlist=false" />
    <add name="Jhu.Graywulf.Activities.Persistence" connectionString="Data Source=gwen1;Initial Catalog=Graywulf_DEV_Persistence;Integrated Security=true" />
    <add name="Jhu.Graywulf.IO.Test" connectionString="Data Source=localhost;Initial Catalog=Graywulf_IO_Test;Integrated Security=true" />
    <add name="Jhu.Graywulf.Registry.Test" connectionString="Data Source=localhost;Initial Catalog=Graywulf_Registry_Test;Integrated Security=true;MultipleActiveResultsets=true;" />
    <add name="Jhu.Graywulf.Schema.SqlServer.Test" connectionString="Data Source=localhost;Initial Catalog=Graywulf_Schema_Test;Integrated Security=true" />
    <add name="Jhu.Graywulf.Schema.MySql.Test" connectionString="SERVER=localhost;DATABASE=Graywulf_Schema_Test;UID=graywulf;PASSWORD=password;" />
    <add name="Jhu.Graywulf.Schema.PostgreSql.Test" connectionString="host=localhost;port=5432;database=graywulf_schema_test;user id=graywulf;password=password" />
    <add name="Jhu.Graywulf.Schema.Dataset.TEMP" connectionString="Data Source=localhost;Initial Catalog=SkyQuery_Temp;MultipleActiveResultsets=true;Integrated Security=true" />
    <add name="Jhu.Graywulf.Schema.Dataset.CODE" connectionString="Data Source=localhost;Initial Catalog=SkyQuery_Code;MultipleActiveResultsets=true;Integrated Security=true" />
    <add name="Jhu.Graywulf.Schema.Dataset.Test" connectionString="Data Source=localhost;Initial Catalog=SkyNode_Test;MultipleActiveResultsets=true;Integrated Security=true" />
    <add name="Jhu.Graywulf.Schema.Dataset.SDSSDR7" connectionString="Data Source=gw07;Initial Catalog=SkyNode_SDSSDR7;MultipleActiveResultsets=true;Integrated Security=true" />
    <add name="Jhu.Graywulf.Schema.Dataset.Galex" connectionString="Data Source=gw07;Initial Catalog=SkyNode_Galex;MultipleActiveResultsets=true;Integrated Security=true" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.diagnostics>
    <!--<sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "gwrsvr_trace.svclog" />
        </listeners>
      </source>
    </sources>-->
  </system.diagnostics>
</configuration>