<?xml version="1.0"?>
<configuration>
  <system.web>
    <globalization culture="en-us" />
    <compilation debug="true" targetFramework="4.0" />
    <pages theme="Basic">
      <controls>
        <add tagPrefix="jgwc" namespace="Jhu.Graywulf.Web.Controls" assembly="Jhu.Graywulf.Web" />
        <add tagPrefix="jgwuc" namespace="Jhu.Graywulf.Web.UI.Controls" assembly="Jhu.Graywulf.Web.UI" />
      </controls>
    </pages>
  </system.web>
</configuration>
