<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="WebAuthenticationModule" type="Jhu.Graywulf.Security.WebAuthenticationModule, Jhu.Graywulf.Web"/>
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </modules>
    <handlers>
      <add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
  </system.webServer>

  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
  
  <system.web>
    <globalization culture="en-us" />
    <compilation debug="true" targetFramework="4.0" />
    <pages theme="Basic">
      <controls>
        <add tagPrefix="jgwc" namespace="Jhu.Graywulf.Web.Controls" assembly="Jhu.Graywulf.Web" />
        <add tagPrefix="jgwuc" namespace="Jhu.Graywulf.Web.UI.Controls" assembly="Jhu.Graywulf.Web.UI" />
      </controls>
    </pages>
  </system.web>
</configuration>
