<?xml version="1.0" encoding="utf-8"?>
<config>
  <assemblySettings version="1.2.6263.0" description="Graywulf Database Federation Toolkit" company="JHU IDIES / ELTE" product="Graywulf" copyright="(c) 2008-2017 JHU IDIES / ELTE" />
  <includes>
    <inlude path="config\sections.config" />
  </includes>
</config>