<configuration>
  <configSections>
    <sectionGroup name="Jhu.Graywulf">
      <section name="Format" type="System.Configuration.AppSettingsSection"/>
      <sectionGroup name="Registry">
        <section name="Federation" type="System.Configuration.AppSettingsSection"/>
      </sectionGroup>
      <section name="Web.UI" type="System.Configuration.AppSettingsSection"/>
    </sectionGroup>
  </configSections>
  
  <Jhu.Graywulf>
    <Format>
      <add key="FileFormatFactory" value="Jhu.Graywulf.Format.FileFormatFactory, Jhu.Graywulf.Format" />
      <add key="StreamFactory" value="Jhu.Graywulf.Format.StreamFactory, Jhu.Graywulf.Format" />
    </Format>
    <Registry>
      <Federation>
        <add key="FederationName" value="Graywulf.MayDomain.MyFederation"/>
		<add key="QueryFactory" value="Jhu.Graywulf.Jobs.Query.QueryFactory, Jhu.Graywulf.Jobs" />
      </Federation>
    </Registry>
    <Web.UI>
      <add key="ExportDir" value="\\localhost\GraywulfOutput"/>
    </Web.UI>
  </Jhu.Graywulf>
</configuration>