<configuration>
  <system.web>
    <globalization culture="en-us" />
    <customErrors mode="Off" defaultRedirect="~/Error.aspx"/>
    <authentication mode="Forms">
      <forms name=".ASPXFORMSAUTH" loginUrl="/gwauth/SignIn.aspx" enableCrossAppRedirects="true" path="/" />
    </authentication>
    <machineKey validationKey="8ABB09BCD448AEEC0C263E62F6E949E5A12A3E61F64D8E8933D4A1465AB48DF8E3BA600F6A5E1CA380EEE8CADE47AA4395426EE054106290E703655F8FB2AF7B" decryptionKey="67BE2DF690C6AB66B4DBF94780B2AA44C0B26BD8E4ACB3AF2AE6FAEBB1A6A904" validation="SHA1" decryption="AES" />
  </system.web>
</configuration>
