<configuration>
  <system.web>
    <globalization culture="en-us" />
    <customErrors mode="Off" defaultRedirect="~/Error.aspx"/>
    <authentication mode="Forms">
      <forms name=".ASPXFORMSAUTH" loginUrl="/gwauth/SignIn.aspx" enableCrossAppRedirects="true" path="/" />
    </authentication>
    <machineKey validationKey="" decryptionKey="" validation="SHA1" decryption="AES" />
  </system.web>
</configuration>
