<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration> 
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime requestValidationMode="2.0"/>
    <customErrors mode="Off" defaultRedirect="~/Error.aspx"/>
    <pages theme="Basic" validateRequest="false">
      <controls>
        <add tagPrefix="jgwc" namespace="Jhu.Graywulf.Web.Controls" assembly="Jhu.Graywulf.Web" />
        <add tagPrefix="jgwac" namespace="Jhu.Graywulf.Web.Admin.Controls" assembly="Jhu.Graywulf.Web.Admin" />
        <add tagPrefix="jgwac" src="~/Controls/CheckpointProgress.ascx" tagName="CheckpointProgress"/>
        <add tagPrefix="jgwac" src="~/Controls/EntityProperties.ascx" tagName="EntityProperties"/>
        <add tagPrefix="jgwac" src="~/Controls/EntityForm.ascx" tagName="EntityForm"/>
        <add tagPrefix="jgwac" src="~/Controls/EntityLink.ascx" tagName="EntityLink"/>
        <add tagPrefix="jgwac" src="~/Controls/EntitySettings.ascx" tagName="EntitySettings"/>
        <add tagPrefix="jgwac" src="~/Controls/EntityTitle.ascx" tagName="EntityTitle"/>
        <add tagPrefix="jgwac" src="~/Controls/EntityList.ascx" tagName="EntityList"/>
        <add tagPrefix="jgwac" src="~/Controls/EntityChildren.ascx" tagName="EntityChildren"/>
        <add tagPrefix="jgwac" src="~/Controls/EntityButtons.ascx" tagName="EntityButtons"/>
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms name=".ASPXFORMSAUTH" loginUrl="~/User/SignIn.aspx" enableCrossAppRedirects="true" path="/" />
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>
</configuration>
