<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="jhu.graywulf">
      <sectionGroup name="logging">
        <section name="test" type="Jhu.Graywulf.Logging.TestLogWriterConfiguration, Jhu.Graywulf.Logging.Test" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <jhu.graywulf>
    <logging>
      <file enabled="true" path="C:\Data\dobos\project\skyquery-all-v1.4\log\log.txt" />
      <test enabled="true" />
    </logging>
  </jhu.graywulf>
</configuration>