<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="jhu.graywulf">
      <sectionGroup name="logging">
        <section name="console" type="Jhu.Graywulf.Logging.ConsoleLogWriterConfiguration, Jhu.Graywulf.Logging" />
        <section name="file" type="Jhu.Graywulf.Logging.FileLogWriterConfiguration, Jhu.Graywulf.Logging" />
        <section name="sql" type="Jhu.Graywulf.Logging.SqlLogWriterConfiguration, Jhu.Graywulf.Logging" />
      </sectionGroup>
      <section name="appDomain" type="Jhu.Graywulf.Components.AppDomainConfiguration, Jhu.Graywulf.Components"/>
      <sectionGroup name="remoteService">
        <section name="endpoint" type="Jhu.Graywulf.RemoteService.RemoteServiceConfiguration, Jhu.Graywulf.RemoteService"/>
        <section name="access" type="Jhu.Graywulf.ServiceModel.LimitedAccessConfiguration, Jhu.Graywulf.ServiceModel"/>
      </sectionGroup>
      <section name="scheduler" type="Jhu.Graywulf.Scheduler.SchedulerConfiguration, Jhu.Graywulf.Scheduler"/>
      <section name="registry" type="Jhu.Graywulf.Registry.RegistryConfiguration, Jhu.Graywulf.Registry"/>
      <sectionGroup name="authentication">
        <section name="forms" type="Jhu.Graywulf.Web.Security.FormsAuthenticationConfiguration, Jhu.Graywulf.Web" />
      </sectionGroup>
	  <section name="io" type="Jhu.Graywulf.IO.IOConfiguration, Jhu.Graywulf.IO"/>
	  <section name="format" type="Jhu.Graywulf.Format.FormatConfiguration, Jhu.Graywulf.IO"/>
      <sectionGroup name="rest">
        <section name="customHeaders" type="System.Configuration.NameValueSectionHandler" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
</configuration>