<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="jhu.graywulf">
      <section name="appDomain" type="Jhu.Graywulf.Components.AppDomainConfiguration, Jhu.Graywulf.Components"/>
      <section name="remoteService" type="Jhu.Graywulf.RemoteService.RemoteServiceConfiguration, Jhu.Graywulf.RemoteService"/>
      <section name="scheduler" type="Jhu.Graywulf.Scheduler.SchedulerConfiguration, gwscheduler"/>
      <section name="registry" type="Jhu.Graywulf.Registry.RegistryConfiguration, Jhu.Graywulf.Registry"/>
      <sectionGroup name="authentication">
        <section name="forms" type="Jhu.Graywulf.Web.Security.FormsAuthenticationConfiguration, Jhu.Graywulf.Web" />
      </sectionGroup>
	  <section name="io" type="Jhu.Graywulf.IO.IOConfiguration, Jhu.Graywulf.IO"/>
	  <section name="format" type="Jhu.Graywulf.Format.FormatConfiguration, Jhu.Graywulf.IO"/>
      <sectionGroup name="rest">
        <section name="customHeaders" type="System.Configuration.NameValueSectionHandler" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
</configuration>