<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="false">
      <add name="WebAuthenticationModule" type="Jhu.Graywulf.Web.Security.WebAuthenticationModule, Jhu.Graywulf.Web"/>
    </modules>
  </system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime targetFramework="4.0" />
    <pages theme="Basic">
      <controls>
        <add tagPrefix="jgwc" namespace="Jhu.Graywulf.Web.Controls" assembly="Jhu.Graywulf.Web" />
        <add tagPrefix="jgwc" namespace="Jhu.Graywulf.Web.Controls" assembly="Jhu.Graywulf.Web.Controls" />
      </controls>
    </pages>
  </system.web>
</configuration>
