<?xml version="1.0" encoding="utf-8" ?>
<config>
  <assemblySettings>
    <internals>
      <visibleTo>Jhu.Graywulf.Sql</visibleTo>
      <visibleTo>Jhu.Graywulf.Test</visibleTo>
    </internals>
  </assemblySettings>
  <includes>
    <include path="\connectionStrings.config" />
    <include path="\logging.config" />
    <include path="\registry.config" />
    <include path="\scheduler.config" />
    <include path="\remoteService.config" />
  </includes>
</config>