<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <jhu.graywulf>
    <appDomain assemblyPath="." />
    <scheduler pollingInterval="00:00:05"
      appDomainIdle="00:05:00"
      appDomainShutdownTimeout="00:00:30"
      cancelTimeout="00:01:30"
      persistTimeout="00:01:30"/>
  </jhu.graywulf>
</configuration>