h3.DetailsTitle {
    margin: 8px;
}

    h3.DetailsTitle img {
        vertical-align: middle;
        margin-right: 8px;
    }

div.DetailsFormFrame {
    border: 1px solid #C0C0C0;
    padding: 8px;
}

table.DetailsForm {
    width: 100%;
    border-collapse: collapse;
    border: 0px;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

div.FormFrame {
    padding: 8px;
}

table.FormTable {
    width: 100%;
}

table.Form {
    border-collapse: collapse;
    border: 0px;
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    background-color: #FFFFFF;
}

td.FormIcon {
    width: 140px;
    padding-right: 10px;
    vertical-align: top;
}

td.FormHeadline {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #C0C0C0;
    margin-bottom: 8px;
    padding-bottom: 4px;
}

td.FormLabel {
    width: 180px;
    vertical-align: top;
    padding-top: 8px;
}

td.FormField {
    width: auto;
    vertical-align: top;
    padding-top: 8px;
}

    td.FormLabel img, td.FormField img {
        vertical-align: bottom;
    }

input.FormField, select.FormField, textarea.FormField, div.FormField {
    border: 1px solid #000000;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 200px;
}

ul.FormField {
    padding-left: 4px;
    height: 114px;
    overflow-y: scroll;
    margin-bottom: 0px;
}

    ul.FormField li {
        width: 140px;
        display: inline-block;
        white-space: nowrap;
    }

        ul.FormField li input {
            margin-left: 2px;
            margin-right: 6px;
            margin-top: 6px;
            margin-bottom: 6px;
        }

        ul.FormField li label {
            font-weight: normal;
        }

span.FormValidator {
    color: #FF0000;
}

td.FormButton {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #C0C0C0;
    margin-bottom: 8px;
    padding-top: 16px;
    padding-bottom: 8px;
    text-align: center;
}

.CodeMirror-scroll {
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

p.FormButtons {
    text-align: center;
    margin: 8px 4px 4px 4px;
}

input.FormButton, input.FormButtonNarrow, input.FormButtonIcon {
    border: 2px solid #C0C0C0;
    height: 26px;
    font-family: Calibri, Arial, Helvetica, Sans-Serif;
    font-weight: bold;
    font-size: 14px;
}

input.FormButton {
    width: 120px;
}

input.FormButtonNarrow {
    width: 80px;
}

input.FormButtonIcon {
    width: 40px;
}

p.FormMessage {
    text-align: center;
    font-weight: bold;
    color: #FF0000;
    margin: 8px 4px 4px 4px;
}

img.Captcha {
    border: 1px solid #000000;
}

td.FormList {
    width: 100%;
    border: 1px solid #C0C0C0;
    overflow: auto;
}
