h3.DetailsTitle {
    margin: 8px;
}

    h3.DetailsTitle img {
        vertical-align: middle;
        margin-right: 8px;
    }

div.DetailsFormFrame {
    border: 1px solid #C0C0C0;
    padding: 8px;
}

table.DetailsForm {
    width: 100%;
    border-collapse: collapse;
    border: 0px;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

div.FormFrame {
    border: 1px solid #C0C0C0;
    box-shadow: 0px 12px 6px -6px #c0c0c0;
    padding: 8px;
}

table.FormTable {
    width: 100%;
}

table.Form {
    border-collapse: collapse;
    width: 720px;
    background-color: #FFFFFF;
}

td.FormHeadline {
    font-family: Calibri, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #C0C0C0;
    margin-bottom: 8px;
    padding-bottom: 8px;
}

td.FormButton {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-top: 1px solid #C0C0C0;
    margin-bottom: 8px;
    padding-top: 16px;
    padding-bottom: 8px;
    text-align: center;
    height: 64px;
}

td.FormIcon {
    width: 140px;
    padding-right: 40px;
    padding-top: 32px;
    padding-left: 24px;
    vertical-align: top;
}

td.Form {
    padding-top: 16px;
    padding-bottom: 32px;
    padding-right: 32px;
    vertical-align: top;
    min-height: 320px;
}

td.Form ul,
td.Form p {
    margin-top: 10px;
    margin-bottom: 6px;
}

td.FormLabel {
    width: 180px;
    vertical-align: top;
    padding-top: 8px;
}

td.FormField {
    width: auto;
    vertical-align: top;
    padding-top: 8px;
}

    td.FormLabel img, td.FormField img {
        vertical-align: bottom;
    }

    td.FormField input[type="checkbox"],
    td.FormField input[type="radio"] {
        margin-top: 8px;
        margin-right: 4px;
    }

label {
    font: inherit;
}

input.FormField, select.FormField, textarea.FormField, div.FormField {
    border: 1px solid #000000;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 200px;
}

ul.FormField {
    padding-left: 4px;
    height: 114px;
    overflow-y: scroll;
    margin-bottom: 0px;
}

    ul.FormField li {
        width: 140px;
        display: inline-block;
        white-space: nowrap;
    }

        ul.FormField li input {
            margin-left: 2px;
            margin-right: 6px;
            margin-top: 6px;
            margin-bottom: 6px;
        }

        ul.FormField li label {
            font-weight: normal;
        }

            ul.FormField li label img {
                vertical-align: text-top;
            }

span.FormValidator {
    color: #FF0000;
}

.CodeMirror-scroll {
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

p.FormButtons {
    text-align: center;
    margin: 8px 4px 4px 4px;
}

input.FormButton, input.FormButtonNarrow, input.FormButtonIcon {
    border: 2px solid #C0C0C0;
    height: 26px;
    font-family: Calibri, Arial, Helvetica, Sans-Serif;
    font-weight: bold;
    font-size: 14px;
}

input.FormButton {
    width: 120px;
}

input.FormButtonNarrow {
    width: 80px;
}

input.FormButtonIcon {
    width: 40px;
}

p.FormMessage {
    text-align: center;
    font-weight: bold;
    color: #FF0000;
    margin: 8px 4px 4px 4px;
}

img.Captcha {
    border: 1px solid #000000;
}

td.FormList {
    width: 100%;
    border: 1px solid #C0C0C0;
    overflow: auto;
}

p.FormOptionsButton {
    border-top: 1px solid #C0C0C0;
    text-align: right;
    margin-top: 16px;
    margin-bottom: 16px;
}