USE [Graywulf_IO_Test]

---------------------------------------------------------------

IF (OBJECT_ID('[dbo].[EmptyTable]') IS NOT NULL)
DROP TABLE [dbo].[EmptyTable]

GO

CREATE TABLE [dbo].[EmptyTable](
	[float] [real] NULL,
	[double] [float] NULL,
	[decimal] [money] NULL,
	[nvarchar(50)] [nvarchar](50) NULL,
	[bigint] [bigint] NULL,
	[int] [int] NOT NULL,
	[tinyint] [tinyint] NULL,
	[smallint] [smallint] NULL,
	[bit] [bit] NULL,
	[ntext] [nvarchar](max) NULL,
	[char] [char](1) NULL,
	[datetime] [datetime] NULL,
	[guid] [uniqueidentifier] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO

---------------------------------------------------------------

IF (OBJECT_ID('[dbo].[SampleData]') IS NOT NULL)
DROP TABLE [dbo].[SampleData]

GO

CREATE TABLE [dbo].[SampleData](
	[float] [real] NULL,
	[double] [float] NULL,
	[decimal] [money] NULL,
	[nvarchar(50)] [nvarchar](50) NULL,
	[bigint] [bigint] NULL,
	[int] [int] NOT NULL,
	[tinyint] [tinyint] NULL,
	[smallint] [smallint] NULL,
	[bit] [bit] NULL,
	[ntext] [nvarchar](max) NULL,
	[char] [char](1) NULL,
	[datetime] [datetime] NULL,
	[guid] [uniqueidentifier] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO

INSERT [dbo].[SampleData]
VALUES (1.234568,
		1.23456789,
		1.2346,
		'this is text',
		123456789,
		123456,
		123,
		12345,
		1,
		N'this is unicode text ő',
		'A',
		'2012-08-17 00:00:00.000',
		'68652251-C9E4-4630-80BE-88B96D3258CE')

GO

---------------------------------------------------------------

IF (OBJECT_ID('[dbo].[SampleData_NumericTypes]') IS NOT NULL)
DROP TABLE [dbo].[SampleData_NumericTypes]

GO

CREATE TABLE [dbo].[SampleData_NumericTypes](
	[TinyIntColumn] [tinyint] NOT NULL,
	[SmallIntColumn] [smallint] NOT NULL,
	[IntColumn] [int] NOT NULL,
	[BigIntColumn] [bigint] NOT NULL,
	[RealColumn] [real] NOT NULL,
	[FloatColumn] [float] NOT NULL
) ON [PRIMARY]

GO

INSERT [dbo].[SampleData_NumericTypes]
VALUES (1, 1, 1, 1, 1, 1),
	   (0, -1, -1, -1, -1, -1),
	   (0, 0, 0, 0, 0, 0),
	   (0, -32768, -2147483648, -9223372036854775808, 0, 0),
	   (255, 32767, 2147483647, 9223372036854775807, 1, 1)

GO

---------------------------------------------------------------

IF (OBJECT_ID('[dbo].[SampleData_NumericTypes_Null]') IS NOT NULL)
DROP TABLE [dbo].[SampleData_NumericTypes_Null]

GO

CREATE TABLE [dbo].[SampleData_NumericTypes_Null](
	[TinyIntColumn] [tinyint] NULL,
	[SmallIntColumn] [smallint] NULL,
	[IntColumn] [int] NULL,
	[BigIntColumn] [bigint] NULL,
	[RealColumn] [real] NULL,
	[FloatColumn] [float] NULL
) ON [PRIMARY]

GO

INSERT [dbo].[SampleData_NumericTypes_Null]
VALUES (NULL, NULL, NULL, NULL, NULL, NULL),
	   (1, 1, 1, 1, 1, 1),
	   (0, -1, -1, -1, -1, -1),
	   (0, 0, 0, 0, 0, 0),
	   (0, -32768, -2147483648, -9223372036854775808, 0, 0),
	   (255, 32767, 2147483647, 9223372036854775807, 1, 1)

GO

---------------------------------------------------------------

IF (OBJECT_ID('[dbo].[SampleData_AllTypes]') IS NOT NULL)
DROP TABLE [dbo].[SampleData_AllTypes]

GO

CREATE TABLE [dbo].[SampleData_AllTypes](
-- Exact Numerics
	[BigIntColumn] bigint NOT NULL,
	[NumericColumn] numeric NOT NULL,
	[BitColumn] bit  NOT NULL,
	[SmallIntColumn] smallint NOT NULL,
	[DecimalColumn] decimal NOT NULL,
	[SmallMoneyColumn] smallmoney NOT NULL,
	[IntColumn] int  NOT NULL,
	[TinyIntColumn] tinyint NOT NULL,
	[MoneyColumn] money NOT NULL,
-- Approximate Numerics
	[FloatColumn] float  NOT NULL,
	[RealColumn] real NOT NULL,
-- Date and Time
	[DateColumn] date NOT NULL,
	[DateTimeOffsetColumn] datetimeoffset NOT NULL,
	[DateTime2Column] datetime2 NOT NULL,
	[SmallDateTimeColumn] smalldatetime NOT NULL,
	[DateTimeColumn] datetime NOT NULL,
	[TimeColumn] time NOT NULL,
-- Character Strings
	[CharColumn] char(10) NOT NULL,
	[VarCharColumn] varchar(10) NOT NULL,
	[VarCharMaxColumn] varchar(max) NOT NULL,
	[TextColumn] text NOT NULL,
-- Unicode Character Strings
	[NCharColumn] nchar(10) NOT NULL,
	[NVarCharColumn] nvarchar(10) NOT NULL,
	[NVarCharMaxColumn] nvarchar(max) NOT NULL, 
	[NTextColumn] ntext NOT NULL,
-- Binary Strings
	[BinaryColumn] binary(10) NOT NULL,
	[VarBinaryColumn] varbinary(10) NOT NULL,
	[VarBinaryMaxColumn] varbinary(max) NOT NULL,
	[ImageColumn] image NOT NULL,
-- Other Data Types
	-- cursor 
	[TimeStampColumn] timestamp,
	-- hierarchyid 
	[UniqueIdentifierColumn] uniqueidentifier NOT NULL
	-- sql_variant 
	-- xml 
	-- table
)

GO
 

 GO

---------------------------------------------------------------

IF (OBJECT_ID('[dbo].[SampleData_AllTypes_Nullable]') IS NOT NULL)
DROP TABLE [dbo].[SampleData_AllTypes_Nullable]

GO

 CREATE TABLE [dbo].[SampleData_AllTypes_Nullable](
-- Exact Numerics
	[BigIntColumn] bigint NULL,
	[NumericColumn] numeric NULL,
	[BitColumn] bit  NULL,
	[SmallIntColumn] smallint NULL,
	[DecimalColumn] decimal NULL,
	[SmallMoneyColumn] smallmoney NULL,
	[IntColumn] int  NULL,
	[TinyIntColumn] tinyint NULL,
	[MoneyColumn] money NULL,
-- Approximate Numerics
	[FloatColumn] float  NULL,
	[RealColumn] real NULL,
-- Date and Time
	[DateColumn] date NULL,
	[DateTimeOffsetColumn] datetimeoffset NULL,
	[DateTime2Column] datetime2 NULL,
	[SmallDateTimeColumn] smalldatetime NULL,
	[DateTimeColumn] datetime NULL,
	[TimeColumn] time NULL,
-- Character Strings
	[CharColumn] char(10) NULL,
	[VarCharColumn] varchar(10) NULL,
	[VarCharMaxColumn] varchar(max) NULL,
	[TextColumn] text NULL,
-- Unicode Character Strings
	[NCharColumn] nchar(10) NULL,
	[NVarCharColumn] nvarchar(10) NULL,
	[NVarCharMaxColumn] nvarchar(max) NULL, 
	[NTextColumn] ntext NULL,
-- Binary Strings
	[BinaryColumn] binary(10) NULL,
	[VarBinaryColumn] varbinary(10) NULL,
	[VarBinaryMaxColumn] varbinary(max) NULL,
	[ImageColumn] image NULL,
-- Other Data Types
	-- cursor 
	[TimeStampColumn] timestamp,
	-- hierarchyid 
	[UniqueIdentifierColumn] uniqueidentifier NULL
	-- sql_variant 
	-- xml 
	-- table
)

GO


 GO

---------------------------------------------------------------

IF (OBJECT_ID('[dbo].[SampleData_AllPrecision]') IS NOT NULL)
DROP TABLE [dbo].[SampleData_AllPrecision]

GO

CREATE TABLE [dbo].[SampleData_AllPrecision]
(
	[Decimal_01] decimal( 1) NOT NULL,
	
	[Decimal_02] decimal(3,2) NOT NULL,

	[Decimal_38] decimal(38) NOT NULL,
	[DateTime2_0] datetime2(0) NOT NULL,
	[DateTime2_1] datetime2(1) NOT NULL,
	[DateTime2_2] datetime2(2) NOT NULL,
	[DateTime2_3] datetime2(3) NOT NULL,
	[DateTime2_4] datetime2(4) NOT NULL,
	[DateTime2_5] datetime2(5) NOT NULL,
	[DateTime2_6] datetime2(6) NOT NULL,
	[DateTime2_7] datetime2(7) NOT NULL,
	[DateTimeOffset_0] datetimeoffset(0) NOT NULL,
	[DateTimeOffset_1] datetimeoffset(1) NOT NULL,
	[DateTimeOffset_2] datetimeoffset(2) NOT NULL,
	[DateTimeOffset_3] datetimeoffset(3) NOT NULL,
	[DateTimeOffset_4] datetimeoffset(4) NOT NULL,
	[DateTimeOffset_5] datetimeoffset(5) NOT NULL,
	[DateTimeOffset_6] datetimeoffset(6) NOT NULL,
	[DateTimeOffset_7] datetimeoffset(7) NOT NULL,
	[Time_0] time(0) NOT NULL,
	[Time_1] time(1) NOT NULL,
	[Time_2] time(2) NOT NULL,
	[Time_3] time(3) NOT NULL,
	[Time_4] time(4) NOT NULL,
	[Time_5] time(5) NOT NULL,
	[Time_6] time(6) NOT NULL,
	[Time_7] time(7) NOT NULL
)

GO


GO

---------------------------------------------------------------

IF (OBJECT_ID('[dbo].[SampleData_PrimaryKey]') IS NOT NULL)
DROP TABLE [dbo].[SampleData_PrimaryKey]

GO

CREATE TABLE [dbo].[SampleData_PrimaryKey](
	[ID] int NOT NULL PRIMARY KEY,
	Data1 float,
	Data2 float
)

GO

INSERT [dbo].[SampleData_PrimaryKey]
VALUES
	(1, 1.0, 2.0),
	(2, 2.0, 4.0)

GO